<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddIdentifyCodeServlet</servlet-name>
    <servlet-class>servlet.AddIdentifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserBaseRegisterServlet</servlet-name>
    <servlet-class>servlet.UserBaseRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WorkUserRegisterServlet</servlet-name>
    <servlet-class>servlet.WorkUserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>servlet.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskAddServlet</servlet-name>
    <servlet-class>servlet.TaskAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserTaskProportionServlet</servlet-name>
    <servlet-class>servlet.UserTaskProportionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangePasswodServlet</servlet-name>
    <servlet-class>servlet.ChangePasswodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserChangeInformationServlet</servlet-name>
    <servlet-class>servlet.UserChangeInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserChangePhoneServlet</servlet-name>
    <servlet-class>servlet.UserChangePhoneServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserChangeAdressServlet</servlet-name>
    <servlet-class>servlet.UserChangeAdressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskReviewingShowServlet</servlet-name>
    <servlet-class>servlet.TaskReviewingShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <servlet-class>servlet.TaskDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <servlet-class>servlet.TaskUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskShowServlet</servlet-name>
    <servlet-class>servlet.TaskShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EstimateAddServlet</servlet-name>
    <servlet-class>servlet.EstimateAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserNameShowServlet</servlet-name>
    <servlet-class>servlet.UserNameShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserShowServlet</servlet-name>
    <servlet-class>servlet.UserShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAuditServlet</servlet-name>
    <servlet-class>servlet.UserAuditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAuditFaillureServlet</servlet-name>
    <servlet-class>servlet.UserAuditFaillureServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.AddWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.ShowWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.DeleteWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.UpdateWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAllWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.ShowAllWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowUserInformationServlet</servlet-name>
    <servlet-class>servlet.ShowUserInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowTaskServlet</servlet-name>
    <servlet-class>servlet.ShowTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateTaskStatusServlet</servlet-name>
    <servlet-class>servlet.UpdateTaskStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminTaskProportionServlet</servlet-name>
    <servlet-class>servlet.AdminTaskProportionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowTaskProportionServlet</servlet-name>
    <servlet-class>servlet.ShowTaskProportionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CalculatePorprotionServlet</servlet-name>
    <servlet-class>servlet.CalculatePorprotionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndentifyCodeServlet</servlet-name>
    <servlet-class>servlet.IndentifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MarchingTaskShowServlet</servlet-name>
    <servlet-class>servlet.MarchingTaskShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MarchigShowServlet</servlet-name>
    <servlet-class>servlet.MarchigShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRecordServlet</servlet-name>
    <servlet-class>servlet.AddRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowRecordServlet</servlet-name>
    <servlet-class>servlet.ShowRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserTaskServlet</servlet-name>
    <servlet-class>servlet.UpdateUserTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowTasklServlet</servlet-name>
    <servlet-class>servlet.ShowTasklServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserTaskShowServlet</servlet-name>
    <servlet-class>servlet.UserTaskShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowEstimateServlet</servlet-name>
    <servlet-class>servlet.ShowEstimateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WorkUserInformationShow</servlet-name>
    <servlet-class>servlet.WorkUserInformationShow</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CaculateWorkuserTaskServlet</servlet-name>
    <servlet-class>servlet.CaculateWorkuserTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserInformationShowServlet</servlet-name>
    <servlet-class>servlet.UserInformationShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CalculateTasksServlet</servlet-name>
    <servlet-class>servlet.CalculateTasksServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MarchedShowServlet</servlet-name>
    <servlet-class>servlet.MarchedShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAdminServlet</servlet-name>
    <servlet-class>servlet.ShowAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAduitTaskStatusServlet</servlet-name>
    <servlet-class>servlet.UpdateAduitTaskStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowTaskUserEndServlet</servlet-name>
    <servlet-class>servlet.ShowTaskUserEndServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowMarchedUserInformationServlet</servlet-name>
    <servlet-class>servlet.ShowMarchedUserInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowTaskWorkUserServlet</servlet-name>
    <servlet-class>servlet.ShowTaskWorkUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddWorkUserTaskNtmberServlet</servlet-name>
    <servlet-class>servlet.AddWorkUserTaskNtmberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EstimateAvgServlet</servlet-name>
    <servlet-class>servlet.EstimateAvgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserShowDimServlet</servlet-name>
    <servlet-class>servlet.UserShowDimServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskAuditDimShowServlet</servlet-name>
    <servlet-class>servlet.TaskAuditDimShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MmarchedDimShowServlet</servlet-name>
    <servlet-class>servlet.MmarchedDimShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserTaskDimShowServlet</servlet-name>
    <servlet-class>servlet.UserTaskDimShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MarchingTaskDimShowServlet</servlet-name>
    <servlet-class>servlet.MarchingTaskDimShowServlet</servlet-class>
  </servlet>


















 









































  <servlet-mapping>
    <servlet-name>AddIdentifyCodeServlet</servlet-name>
    <url-pattern>/AddIdentifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserBaseRegisterServlet</servlet-name>
    <url-pattern>/UserBaseRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskAddServlet</servlet-name>
    <url-pattern>/TaskAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTaskProportionServlet</servlet-name>
    <url-pattern>/UserTaskProportionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswodServlet</servlet-name>
    <url-pattern>/ChangePasswodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserChangeInformationServlet</servlet-name>
    <url-pattern>/UserChangeInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserChangePhoneServlet</servlet-name>
    <url-pattern>/UserChangePhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserChangeAdressServlet</servlet-name>
    <url-pattern>/UserChangeAdressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskReviewingShowServlet</servlet-name>
    <url-pattern>/TaskReviewingShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <url-pattern>/TaskDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <url-pattern>/TaskUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskShowServlet</servlet-name>
    <url-pattern>/TaskShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EstimateAddServlet</servlet-name>
    <url-pattern>/EstimateAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserNameShowServlet</servlet-name>
    <url-pattern>/UserNameShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAuditServlet</servlet-name>
    <url-pattern>/UserAuditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAuditFaillureServlet</servlet-name>
    <url-pattern>/UserAuditFaillureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/AddWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/ShowWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/DeleteWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/UpdateWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/ShowAllWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUserInformationServlet</servlet-name>
    <url-pattern>/ShowUserInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTaskServlet</servlet-name>
    <url-pattern>/ShowTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTaskStatusServlet</servlet-name>
    <url-pattern>/UpdateTaskStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminTaskProportionServlet</servlet-name>
    <url-pattern>/AdminTaskProportionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTaskProportionServlet</servlet-name>
    <url-pattern>/ShowTaskProportionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CalculatePorprotionServlet</servlet-name>
    <url-pattern>/CalculatePorprotionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndentifyCodeServlet</servlet-name>
    <url-pattern>/IndentifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarchingTaskShowServlet</servlet-name>
    <url-pattern>/MarchingTaskShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarchigShowServlet</servlet-name>
    <url-pattern>/MarchigShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRecordServlet</servlet-name>
    <url-pattern>/AddRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRecordServlet</servlet-name>
    <url-pattern>/ShowRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserTaskServlet</servlet-name>
    <url-pattern>/UpdateUserTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTasklServlet</servlet-name>
    <url-pattern>/ShowTasklServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTaskShowServlet</servlet-name>
    <url-pattern>/UserTaskShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowEstimateServlet</servlet-name>
    <url-pattern>/ShowEstimateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkUserInformationShow</servlet-name>
    <url-pattern>/WorkUserInformationShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaculateWorkuserTaskServlet</servlet-name>
    <url-pattern>/CaculateWorkuserTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInformationShowServlet</servlet-name>
    <url-pattern>/UserInformationShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CalculateTasksServlet</servlet-name>
    <url-pattern>/CalculateTasksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarchedShowServlet</servlet-name>
    <url-pattern>/MarchedShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAdminServlet</servlet-name>
    <url-pattern>/ShowAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAduitTaskStatusServlet</servlet-name>
    <url-pattern>/UpdateAduitTaskStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTaskUserEndServlet</servlet-name>
    <url-pattern>/ShowTaskUserEndServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMarchedUserInformationServlet</servlet-name>
    <url-pattern>/ShowMarchedUserInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTaskWorkUserServlet</servlet-name>
    <url-pattern>/ShowTaskWorkUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWorkUserTaskNtmberServlet</servlet-name>
    <url-pattern>/AddWorkUserTaskNtmberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EstimateAvgServlet</servlet-name>
    <url-pattern>/EstimateAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowDimServlet</servlet-name>
    <url-pattern>/UserShowDimServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskAuditDimShowServlet</servlet-name>
    <url-pattern>/TaskAuditDimShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MmarchedDimShowServlet</servlet-name>
    <url-pattern>/MmarchedDimShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTaskDimShowServlet</servlet-name>
    <url-pattern>/UserTaskDimShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarchingTaskDimShowServlet</servlet-name>
    <url-pattern>/MarchingTaskDimShowServlet</url-pattern>
  </servlet-mapping>


</web-app>