<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddIdentifyCodeServlet</servlet-name>
    <servlet-class>servlet.AddIdentifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserBaseRegisterServlet</servlet-name>
    <servlet-class>servlet.UserBaseRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WorkUserRegisterServlet</servlet-name>
    <servlet-class>servlet.WorkUserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>servlet.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskAddServlet</servlet-name>
    <servlet-class>servlet.TaskAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserTaskProportionServlet</servlet-name>
    <servlet-class>servlet.UserTaskProportionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangePasswodServlet</servlet-name>
    <servlet-class>servlet.ChangePasswodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserChangeInformationServlet</servlet-name>
    <servlet-class>servlet.UserChangeInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserChangePhoneServlet</servlet-name>
    <servlet-class>servlet.UserChangePhoneServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserChangeAdressServlet</servlet-name>
    <servlet-class>servlet.UserChangeAdressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskReviewingShowServlet</servlet-name>
    <servlet-class>servlet.TaskReviewingShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <servlet-class>servlet.TaskDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <servlet-class>servlet.TaskUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskShowServlet</servlet-name>
    <servlet-class>servlet.TaskShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EstimateAddServlet</servlet-name>
    <servlet-class>servlet.EstimateAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserNameShowServlet</servlet-name>
    <servlet-class>servlet.UserNameShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserShowServlet</servlet-name>
    <servlet-class>servlet.UserShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAuditServlet</servlet-name>
    <servlet-class>servlet.UserAuditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAuditFaillureServlet</servlet-name>
    <servlet-class>servlet.UserAuditFaillureServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.AddWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.ShowWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.DeleteWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.UpdateWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAllWorkUserEvaluatingIndicatorServlet</servlet-name>
    <servlet-class>servlet.ShowAllWorkUserEvaluatingIndicatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowUserInformationServlet</servlet-name>
    <servlet-class>servlet.ShowUserInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowTaskServlet</servlet-name>
    <servlet-class>servlet.ShowTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateTaskStatusServlet</servlet-name>
    <servlet-class>servlet.UpdateTaskStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminTaskProportionServlet</servlet-name>
    <servlet-class>servlet.AdminTaskProportionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowTaskProportionServlet</servlet-name>
    <servlet-class>servlet.ShowTaskProportionServlet</servlet-class>
  </servlet>































  <servlet-mapping>
    <servlet-name>AddIdentifyCodeServlet</servlet-name>
    <url-pattern>/AddIdentifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserBaseRegisterServlet</servlet-name>
    <url-pattern>/UserBaseRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskAddServlet</servlet-name>
    <url-pattern>/TaskAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTaskProportionServlet</servlet-name>
    <url-pattern>/UserTaskProportionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswodServlet</servlet-name>
    <url-pattern>/ChangePasswodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserChangeInformationServlet</servlet-name>
    <url-pattern>/UserChangeInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserChangePhoneServlet</servlet-name>
    <url-pattern>/UserChangePhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserChangeAdressServlet</servlet-name>
    <url-pattern>/UserChangeAdressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskReviewingShowServlet</servlet-name>
    <url-pattern>/TaskReviewingShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <url-pattern>/TaskDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <url-pattern>/TaskUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskShowServlet</servlet-name>
    <url-pattern>/TaskShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EstimateAddServlet</servlet-name>
    <url-pattern>/EstimateAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserNameShowServlet</servlet-name>
    <url-pattern>/UserNameShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAuditServlet</servlet-name>
    <url-pattern>/UserAuditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAuditFaillureServlet</servlet-name>
    <url-pattern>/UserAuditFaillureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/AddWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/ShowWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/DeleteWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/UpdateWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllWorkUserEvaluatingIndicatorServlet</servlet-name>
    <url-pattern>/ShowAllWorkUserEvaluatingIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUserInformationServlet</servlet-name>
    <url-pattern>/ShowUserInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTaskServlet</servlet-name>
    <url-pattern>/ShowTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTaskStatusServlet</servlet-name>
    <url-pattern>/UpdateTaskStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminTaskProportionServlet</servlet-name>
    <url-pattern>/AdminTaskProportionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTaskProportionServlet</servlet-name>
    <url-pattern>/ShowTaskProportionServlet</url-pattern>
  </servlet-mapping>

</web-app>